@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  image-rendering: pixelated;
}

body {
  background-image: url('/bg.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: dark light;
}
